* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* LAYOUT */

.container {
    max-width: 370px;
    width: 90%;
    border: 2px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left-container {
    max-width: 50%;
    display: flex;
    border: 5px solid green;
    text-align: center;
}

.right-container {
    display: block;
    max-width:50%;
    border: 5px solid blue;
    padding: 5px;
    
}

form {
    max-width: 182px;
    max-width: 80%;
    
}

#my-photo,
#fullname,
#school,
#track,
#idNumber,
#download-btn {
    width: 100%;
    margin-bottom: 5px;
}